@charset "utf-8";
/*CSS Document */

body {

	background-color: #BDA0CB;
	color: #A5435C;
	font-weight: bold;
}

.cloud-background {
	background-image: url("../images/clouds.jpg");
}

.card-body {
	background-color: #E6E6FA

}


footer p{
	color: #BDA0CB
}

h4 {
	margin-left: 20px;

}

.contestants p {
	margin-left: 20px;
}

p {
	margin-left: 20px;
}