@charset "utf-8";
/*CSS Document */

body {

	background-color: #BDA0CB;
	color: #A5435C;
}

.cloud-background {
	background-image: url("../images/clouds.jpg");
}

.card-background {
	background-color: #E6E6FA
}